html, body {
	margin: 0;	
	padding: 0;
}

body {	
	background: #171717;
	color: #999;
	font: 100%/18px helvetica, arial, sans-serif;
}

#main {
	content : "";
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background-image: url('../images/disney.png'); 
	 width: 100%;
	 height: 100%;
	 opacity : 0.5;
	 z-index: 1;
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
}

a {
	color: #2fa1d6;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #fff;	
}

.white {
	color: white;
}

#canvas-container {
  background: #000;
  height: 100vh;
  width: 100vw;
}
		
canvas {
	cursor: crosshair;
	display: block;
	position: relative;
	z-index: 3;
}

canvas:active {
	cursor: crosshair;
}

#skyline {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/skyline.png) repeat-x 50% 0;
	bottom: 0;
	height: 135px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;	
}

#mountains1 {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/mountains1.png) repeat-x 40% 0;
	bottom: 0;
	height: 200px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;	
}

#mountains2 {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/mountains2.png) repeat-x 30% 0;
	bottom: 0;
	height: 250px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;	
}

#gui {
	right: 0;
	position: fixed;
	top: 0;
	z-index: 3;
}

.title {
	text-align: left;
	margin-left: 20px;
}
